<div class ="jumbotron">
	<div class="container">
		<h1> Facebook on Rails </h1>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1> How it works </h1>
			<hr>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4"> 
			<h2> Connect With Facebook </h2>
			<p> Sign Up or Login with your FB Account </p>
		</div>
		<div class="col-md-4"> 
			<h2> Create Posts </h2>
			<p>Start posting now</p>
		</div>
		<div class="col-md-4"> 
			<h2> Share your posts </h2>
			<p> Share with your FB friends</p>
		</div>
	</div>
</div>